@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .border-def{
    @apply border-2 hover:border-accentBorderLight border-borderLight hover:dark:border-accentBorderDark dark:border-borderDark transition-colors;
  };
  .bg-sec{
    @apply transition-colors bg-secLight dark:bg-secDark
  }
  .btn-nav{
    @apply border-def transition-colors hover:bg-accentLight hover:text-accentTextLight  text-textLight bg-primLight hover:dark:bg-accentDark hover:dark:text-accentTextDark dark:text-textDark dark:bg-primDark focus:bg-accentLight dark:focus:bg-accentDark;
  };
  .h1{
    @apply xl:text-5xl md:text-2xl text-xl font-bold text-primLight dark:text-primDark hover:text-accentLight dark:hover:text-accentDark;
  };
  .text-accent{
    @apply text-accentLight dark:text-accentDark group-hover:text-accentTextLight group-focus:text-accentTextLight dark:group-hover:text-accentTextDark dark:group-focus:text-accentTextDark;
  };
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border-radius: 5px;
}

/* Handle */
.scroll-light::-webkit-scrollbar-thumb {
  background: #1a4ab0;
  border-radius: 5px;
}
/* Handle on hover */
.scroll-light::-webkit-scrollbar-thumb:hover {
  background: #ffaa00;
}

/* Handle */
.scroll-dark::-webkit-scrollbar-thumb {
  background: #1a4ab0;
  border-radius: 5px;
}
/* Handle on hover */
.scroll-dark::-webkit-scrollbar-thumb:hover {
  background: #cc8800;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 230,238,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 3, 9, 26;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
