@tailwind base;
  @tailwind components;
  @tailwind utilities;


  @layer base {
    :root {

      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 221 73% 40%;
      --primary-foreground: 221 73% 98%;

      --secondary: 221 100% 95%;
      --secondary-foreground: 221 100% 9%;

      --muted: 0 0% 70%;
      --muted-foreground: 0 0% 40%;

      --accent: 40 100% 50%;
      --accent-foreground: 0 100% 100%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 221 100% 80%;
      --input: 0 0% 0%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 21%;
      --primary-foreground: 0 0% 100%;

      --secondary: 0 0% 12%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 60%;
      --muted-foreground: 0 0% 20%;

      --accent: 40 100% 40%;
      --accent-foreground: 0 0% 0%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 31%;
      --input: 0 0% 100%;
      --ring: 0 0% 83.1%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  @layer components{
    .border-def{
      @apply border-2 border-border transition-colors;
    };
    .border-def-hover{
      @apply border-def hover:border-accent;
    };
    .bg-sec{
      @apply transition-colors bg-secondary;
    }
    .bg-prim{
      @apply transition-colors bg-primary;
    }
    .btn-nav{
      @apply border-def-hover transition-colors hover:bg-accent hover:text-accent-foreground text-primary-foreground bg-primary;
    };
    .h1{
      @apply xl:text-5xl md:text-2xl text-xl font-bold text-input;
    };
    .h2{
      @apply xl:text-3xl md:text-xl text-base font-bold text-input hover:text-accent;
    };
    .text-giant{
      @apply xl:text-4xl lg:text-2xl text-lg;
    };
    .text-big{
      @apply xl:text-2xl lg:text-lg text-base;
    };
    .text-medium{
      @apply xl:text-lg lg:text-sm text-xs;
    }
    .text-small{
      @apply xl:text-sm lg:text-xs text-xs;
    }
    .text-tiny{
      @apply xl:text-xs lg:text-xs text-xs;
    }
  }