@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .border-def{
    @apply border-2 border-borderLight  dark:border-borderDark transition-colors;
  };
  .border-def-hover{
    @apply border-def hover:border-accentBorderLight hover:dark:border-accentBorderDark;
  };
  .bg-sec{
    @apply transition-colors bg-secLight dark:bg-secDark
  }
  .bg-prim{
    @apply transition-colors bg-primLight dark:bg-primDark
  }
  .btn-nav{
    @apply border-def-hover transition-colors hover:bg-accentLight hover:text-accentTextLight  text-textLight bg-primLight hover:dark:bg-accentDark hover:dark:text-accentTextDark dark:text-textDark dark:bg-primDark focus:bg-accentLight dark:focus:bg-accentDark;
  };
  .h1{
    @apply xl:text-5xl md:text-2xl text-xl font-bold text-primLight dark:text-accentDark;
  };
  .h2{
    @apply xl:text-3xl md:text-xl text-inherit font-bold text-primLight dark:text-primDark hover:text-accentLight dark:hover:text-accentDark;
  };
  .text-accent{
    @apply text-accentLight dark:text-accentDark group-hover:text-accentTextLight group-focus:text-accentTextLight dark:group-hover:text-accentTextDark dark:group-focus:text-accentTextDark;
  };
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a4ab0;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffaa00;
}
  
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 230,238,255;
}

@media (prefers-color-scheme: dark) {

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cc8800;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ccb87a;
  }
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 18,18,18;
    --background-end-rgb: 18,18,18;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
